manifest {
    author = 'Stephen Kelly'
    homePage = ''
    description = ''
    mainScript = 'main.nf'
}

report {
    enabled = true
    file = "nextflow-report.html"
}

trace {
    enabled = true
    fields = "task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes"
    file = "trace.txt"
    raw = true
}

timeline {
    enabled = true
    file = "timeline-report.html"
}

profiles {
    phoenix { // NYU phoenix HPC
        process {
            withName: merge_targets {
                module = 'bedtools/2.26.0'
            }
            withName: calculate_callable_loci {
                executor = "sge" // clusterOptions = "-pe threaded 1-8"
            }
        }
    }

    bigpurple {
        params.refDir = '/gpfs/data/molecpathlab/ref'
        params.ANNOVAR_DB_DIR = "/gpfs/data/molecpathlab/ref/annovar/db"

        process.executor = "slurm"
        process.queue = "cpu_dev"//"cpu_medium"//"cpu_dev" //"cpu_short" // up to 12hrs per job
        process.clusterOptions = '--ntasks-per-node=1 --export=NONE'

        process.module = "singularity/2.5.2"
        params.containerDir = "/gpfs/data/molecpathlab/containers/misc"
        singularity.enabled = true
        singularity.autoMounts = true
        // singularity.runOptions = "-B ${params.ANNOVAR_DB_DIR}"
        singularity.envWhitelist = "NTHREADS"

        process {
            withName: merge_targets {
                container = "${params.containerDir}/bedtools-2.26.0.simg"
            }
            withName: calculate_callable_loci {
                container = "${params.containerDir}/GATK-3.8.simg"
                clusterOptions = '--mem=12000' // 12GB ?
            }
            withName: annotate_vcf {
                container = "${params.containerDir}/annovar-150617.simg"
            }
            withName: tmb_filter_variants {
                container = "${params.containerDir}/R-3.4.3.simg"
            }
            withName: tmb_samples_comparison {
                container = "${params.containerDir}/R-3.4.3.simg"
            }
            withName: filter_vcf {
                container = "${params.containerDir}/GATK-3.8.simg"
            }
            withName: genomic_signatures {
                container = "${params.containerDir}/deconstructSigs-1.8.0.simg"
            }
            withName: collect_signature_plots {
                container = "${params.containerDir}/ghostscript-9.22.simg"
            }
            withName: genomic_signatures_cohort {
                container = "${params.containerDir}/deconstructSigs-1.8.0.simg"
            }
        }
    }
}
